# Bundler cache
.bundle
vendor

# Jekyll cache
.jekyll-cache
.jekyll-metadata
.sass-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# Misc
assets/scripts/dist
Gemfile.lock
